<header class="fixed-top" style="width: 100vw">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark bg-opacity-75">
    <div class="container">
      <a class="navbar-brand me-5" href="/"><img src="/img/TAGGING JIVORYY white.png" alt="" width="75" height="45" class="d-inline-block align-text-top" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link ps-4 active" aria-current="page" href="/">HOME</a>
          <a class="nav-link ps-4" href="#">WORK</a>
          <a class="nav-link ps-4" href="#">CONTACT</a>
          <a class="nav-link ps-4" href="#"> ABOUT ME</a>
        </div>
        <!-- Navbar User -->
        <% if(username) { %>
        <div class="navbar-nav">
          <div class="dropdown py-3 pe-3 ps-4 user-logged-in">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="pe-2">Hello, <%= username %>!</span>
            </a>
            <ul class="dropdown-menu shadow">
              <% if(is_admin) { %>
              <li>
                <a class="dropdown-item text-white" href="/admin">
                  Admin Dashboard
                </a>
              </li>
              <% } %>
              <li>
                <a class="dropdown-item text-white" href="/users/changepassword">
                  Change Password
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item position-relative text-white" href="/users/logout">
                  Log out
                  <i class="bi bi-door-open-fill position-absolute end-0 me-3"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <% } else { %>
        <div class="navbar-nav">
          <a class="nav-link ps-4" href="/users/register">SIGN UP</a>
          <a class="nav-link ps-4" href="/users/login"> LOGIN</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
</header>