<!-- <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="is_admin" name="is_admin" <%
                  if(data.is_admin)
                  {%> checked <% } %> />
            </div> -->

        //     <h2 class="mb-4">User History</h2>
        //   <div class="row">
        //     <div class="col-9">
        //       <table id="user-history-table">
        //         <thead>
        //           <tr>
        //             <th scope="col">ID</th>
        //             <th scope="col">Log Time</th>
        //             <th scope="col">Result</th>
        //           </tr>
        //         </thead>
        //         <tbody>
        //             <% data.histories.forEach((history)=>{ %>
        //           <tr>
        //             <td><%= history.id %></td>
        //             <td><%= history.playedAt %></td>
        //             <td>
        //               <select class="form-select" name="historyResult_<%= history.id %>" aria-label="Select result">
        //               <option value="WIN" <% if(history.result == "WIN") {%> selected <% } %>  >WIN</option>
        //               <option value="DRAW" <% if(history.result == "DRAW") {%> selected <% } %> >DRAW</option>
        //               <option value="LOSE" <% if(history.result == "LOSE") {%> selected <% } %> >LOSE</option>
        //             </select></td>
        //           </tr>
        //           <% }) %>
        //         </tbody>
        //       </table>
        //     </div>
        //   </div>